<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Header</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
  <a class="navbar-brand" href="#">HMS</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home/home">Users <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/room/home/0">Rooms</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link" th:href="@{/logout}">Sign out</a>
    </div>
  </div>
</nav>
</body>

</html>