<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorator="layout/layout" >
<head>
 <title>Rooms</title>

</head>
<body>
<div layout:fragment="content"  class="container">
<div class="card-block">
	<table class="table table-hover table-bordered  text-center">
	<thead class="thead-dark">
	    <tr>
	      <th scope="col">Room Number</th>
	      <th scope="col">Price</th>
	      <th scope="col">TYPE</th>
	      <th scope="col">Nr. persons</th>
	      <th scope="col">Edit</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="room : ${rooms}">
	                <td contenteditable="true" th:text="${room.id}"></td>
	                <td contenteditable="true" th:text="${room.price}"></td>
	                <td contenteditable="true" th:text="${room.type}"></td>
	                <td contenteditable="true" th:text= "${room.numberOfPersons}"></td>
	                <td>
	                	<a th:href="@{/room/edit/{nr}(nr=${room.id})}"  class="btn btn-success">EDIT ROOM</a>
	                </td>
	    </tr>
	  </tbody>
	</table>
	<ul class="nav nav-pills">
		<li class="nav-item " th:each="i : ${#numbers.sequence(0,rooms.totalPages-1)}">
			<a th:href="@{/room/home/{nr}(nr=${i})}" th:text="${i}" class="nav-link" 
			   th:classappend="${currentPage}==${i}?'active':''"></a>
		</li>
	</ul>
</div>
<a th:href="@{/room/create}"  class="btn btn-primary btn-lg active">Create</a>
</div>
</body>
</html>