<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorator="layout/layout" >
<head>
 <title>Home</title>

</head>
<body>
<div layout:fragment="content"  class="container">
 
<table class="table table-hover table-bordered table-responsive-md table-striped text-center">
<thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user : ${users}">
                <td contenteditable="true" th:text="${user.firstname}"></td>
                <td contenteditable="true" th:text="${user.lastname}"></td>
                <td contenteditable="true" th:text="${user.email}"></td>
                <td contenteditable="true" th:text= "${user.roles[0].role}"></td>
                <td>
                	<a th:href="@{/edit/{email}(email=${user.email})}"  class="btn btn-primary btn-lg active">EDIT USER</a>
                </td>
    </tr>
  </tbody>
</table>
<a th:href="@{/signup}"  class="btn btn-primary btn-lg active">EDIT USER</a>
</div>
</body>
</html>